html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color:rgb(239, 246, 240);
    font-family: 'Patua One', cursive;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "foto text"
    "foto text"
    "text foto"
    "foto text"
    "text foto"
    "footer footer";
}

.header {
grid-area: header;
font-family: 'Patua One', cursive;
letter-spacing: 3px;
background-color: rgb(172, 244, 104);
width: 100%;
height: 80px;
position: fixed;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
align-items: center;
justify-items: center;
}

.indoor {
    color: white;
    text-decoration: none;
    padding: 20px 60px;
    margin-right: 10px;
    background-color: rgb(172, 244, 104);    
    -webkit-border-radius: 74px;
border-radius: 74px;
background: #acf468;
-webkit-box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
}

.outdoor {
    color: white;
    padding: 20px 60px;
    text-decoration: none;
    margin-right: 50px;
    background-color: rgb(172, 244, 104);  
    -webkit-border-radius: 74px;
border-radius: 74px;
background: #acf468;
-webkit-box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
}

.orto {
    color: white;
    padding: 20px 60px;
    text-decoration: none;
    margin-right: 30px;
    background-color: rgb(172, 244, 104);
    -webkit-border-radius: 74px;
border-radius: 74px;
background: #acf468;
-webkit-box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
}

.altro {
    color: white;
    padding: 20px 60px;
    text-decoration: none;
    margin-left: 10px;
    background-color: rgb(172, 244, 104);
    -webkit-border-radius: 74px;
border-radius: 74px;
background: #acf468;
-webkit-box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
box-shadow: 12px 12px 25px #8ac353, -12px -12px 25px #ceff7d;
}

.text-css {
grid-area: testo;
font-size: 30px;
grid-area: text;
width: 400px;
height: 200px;
text-align:center;
padding: 30px;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
line-height: 50px;
letter-spacing: 3px;
}

.foto {
    grid-area: foto;
   height: 500px;
   background-color: rosybrown;
}

.foto-css {
    
grid-area: foto;
width: 900px;
height: 400px;


}

.footer {
    grid-area: footer;
    background-color: rgba(172, 244, 104, 0.255);
    width: 100%;
    height: 130px;
}

.foto1 {
    grid-area: foto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(239, 246, 240);
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
padding: 10px;
}

.text1 {
    grid-area: text;
    width: 400px;
    height: 200px;
    background-color: blue;
}

.foto2 {
    grid-area: foto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(239, 246, 240);
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
padding: 10px;
}

.text2 {
    grid-area: text;
    width: 400px;
    height: 200px;
    background-color: rebeccapurple;
}

.foto3 {
    grid-area: foto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(239, 246, 240);
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
padding: 10px;
}

.text3 {
    grid-area: text;
    width: 400px;
    height: 200px;
    background-color: black;
}

.foto4 {
    grid-area: foto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(239, 246, 240);
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
padding: 10px;
}

.text4 {
    grid-area: text;
    width: 400px;
    height: 200px;
    background-color: purple;
}



